<header>
    <nav>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/saved-books">View my saved books</a></li>
                <li><a href="/new">Search Books</a></li>
            </ul>
        </div>
    </nav>
</header>