<header>
    <nav role="navigation">
      <div id="menuToggle">
      <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
          <ul id="menu">
            <a href="/"><li>Home</li></a>
            <a href="/saved-books"><li>My Collection</li></a>
            <a href="/new"><li>Find New Books</li></a>
          </ul>
      </div>
      <h1 id="hero">Welcome to Your Book Collection</h1>
    </nav>
  </header>