<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/saved-books">View my saved books</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
</header>